@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');

@font-face {
  font-family: 'Slight';
  src: url('/fonts/slight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-blush: #FBF3F0;
  --color-dusty-rose: #C08497;
  --font-cursive: "Slight", cursive;
}